@use "mixin" as m;

.footer ul{
    @include m.inline-list();
    li{
        background-color: rgb(203, 15, 31);
        padding: 1em;
        a{
            color: rgb(220, 72, 13);
            text-decoration: none;
        }
    }
}