//mixin
@mixin inline-list{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        display: inline-block;
    }

}

.header ul{
    @include inline-list();
    li{
        background-color: black;
        padding: 1em;
        a{
            color: white;
        }
    }
}

//arguments

@mixin flex-box($direction: row,$space: center){
    display: flex;
    justify-content: $space;
    align-items: center;
    flex-direction: $direction;
}
.container{
    @include flex-box(row-reverse, space-around);
    width: 600px;
    height: 400px;
    background-color: beige;
    .box{
        width: 60px;
        height: 60px;
        background-color: aqua;
        text-align: center;
        line-height: 60px;
    }
}